<h1 style="background-color: black; color: white;">Employee Management System</h1>
 
<nav class="navbar navbar-expand-lg" style="background-color: rgb(189, 191, 198);" >
            <a class="navbar-brand ">{{title}}</a>                    
  <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isloggedin()">
     
      <li >
          <a class="nav-link " data-toggle="tab" routerLinkActive="active " [routerLink]="['']"> Home</a>
      </li>
     
      <li >
          <a class="nav-link " data-toggle="tab" [routerLink]="['/departments']" > DepartmentList</a>
      </li>
      <li >
        <a class="nav-link " data-toggle="tab" [routerLink]="['/employees']" > EmployeeList</a>
    </li>
      <li >
          <a class="nav-link " data-toggle="tab" [routerLink]="['/departments/add']" > AddDepartment</a>
      </li>
      <li>
        <a  class="nav-link " data-toggle="tab" [routerLink]="['/employees/add']"> Add Employee </a>
    </li>
    <li >
        <a class="nav-link "data-toggle="tab"  [routerLink]="['']" (click)="logout()"> Logout</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
 
